<%= render(StatusComponent.new(validation_run: @validation_run, status_model: GravityStatus.new(@validation_run))) do |c| %>
  <% c.with_title do %>
    Gravity Status
  <% end %>
  <% c.with_info do %>
    <p> Gravity is set as <%= defined_gravity %><%= units %> <sup class="cursor-help text-yellow-500" title="<%= tooltip %>">?</sup></p>
    <p> Model is <%= slope_direction %> </p>

    <svg width="500" height="500">
    <g transform="translate(250,250)">
    <!-- START X AXIS-->
      <text id="z-axis-label" x="<%= origin + axis_length %>" y="<%= origin - text_offset %>" fill="red" font-size="0">
        <tspan>x
          <animate attributeType="CSS" attributeName="font-size" from="0" to="15" dur="0.1s" begin="x\-pos\-arrow\-anim.end" fill="freeze" />
        </tspan>
      </text>
      <polygon fill="red">
        <animate attributeName="points" dur="0.1s" fill="freeze"
                from="<%= origin + axis_length - arrow_size/2 %>,<%= origin %> <%= origin + axis_length %>,<%= origin %> <%= origin + axis_length - arrow_size/2 %>,<%= origin %>"
                begin="x\-neg.end"
                to="<%= origin + axis_length - arrow_size/2 %>,<%= origin - arrow_size/2 %> <%= origin + axis_length %>,<%= origin %> <%= origin + axis_length - arrow_size/2 %>,<%= origin + arrow_size/2 %>"
                id="x-pos-arrow-anim" />
      </polygon>
      <line y1="<%= origin %>" y2="<%= origin %>" stroke="red">
        <animate
                attributeName="x1"
                from="<%= origin %>"
                to="<%= origin - axis_length %>"
                dur="1s"
                fill="freeze"
                begin="1s"
                repeatCount="1"
                id="x-neg" />
        <animate
                attributeName="x2"
                from="<%= origin %>"
                to="<%= origin + axis_length %>"
                dur="1s"
                begin="1s"
                fill="freeze"
                repeatCount="1"
                id="x-pos" />
      </line>
      <!-- END X AXIS-->

      <%= gravity_line %>
      <%= model_slope_line %>
      <!-- START Z AXIS-->
      <text id="z-axis-label" x="<%= origin + text_offset %>" y="<%= origin - axis_length %>" fill="red" font-size="0">
        <tspan>z
          <animate attributeType="CSS" attributeName="font-size" from="0" to="15" dur="0.1s" begin="z\-neg\-arrow\-anim.end" fill="freeze" />
        </tspan>
      </text>
      <polygon fill="red">
        <animate attributeName="points" dur="0.1s" fill="freeze"
                from="<%= origin %>,<%= origin - axis_length + arrow_size/2 %> <%= origin %>,<%= origin - axis_length + arrow_size/2 %>, <%= origin %>,<%= origin - axis_length %>"
                begin="z\-neg.end"
                to="<%= origin + arrow_size/2 %>,<%= origin - axis_length + arrow_size/2 %> <%= origin - arrow_size/2 %>,<%= origin - axis_length + arrow_size/2 %> <%= origin %>,<%= origin - axis_length %>"
                id="z-neg-arrow-anim" />
      </polygon>
      <line x1="<%= origin %>" x2="<%= origin %>" stroke="red">
        <animate
                attributeName="y1"
                from="<%= origin %>"
                to="<%= origin - axis_length %>"
                dur="1s"
                fill="freeze"
                begin="x\-pos.begin"
                id="z-neg" />
        <animate
                attributeName="y2"
                from="<%= origin %>"
                to="<%= origin + axis_length %>"
                dur="1s"
                fill="freeze"
                begin="x\-pos.begin"
                id="z-pos" />
      </line>
      <!-- END Z AXIS-->
      </g>
    </svg>

  <% end %>
<% end %>
