<div class="drop-shadow-md <%= order %>">
  <div class="flex font-lg <%= box_state %> text-white px-2 rounded-t">
    <h2>
      <%= title %>
    </h2>
    <h2 class="text-right flex-1">
      <%= title_suffix %>
    </h2>
  </div>
  <div class="pb-4 pt-2 px-4 bg-white rounded-b">
    <% if errors %>
      <ul>
        <% errors.each do |error| %>
          <li class=" text-red-500"><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= info %>
    <% if contributing_params? %>
    <details>
      <summary> Contributing Input Parameters </summary>
      <ul>
        <%= contributing_params %>
      </ul>
    </details>
    <% end %>
  </div>
</div>
