
<div class="p-4 <%= box_state %>">
<h2 class="font-lg bg-black text-white">Suppy & Exhaust Status </h2>
  <div class="">
    <p>Total Supply: <%= total_supply %><%=units%></p>
    <p>Total Exhaust: <%= total_demand %><%=units%></p>
    <p>Net Volume Flow: <%= net_volume_flow %><%=units%> </p>
    <details>
    <summary> Contributing Input Parameters </summary>
      <ul>
        <% volume_flow_contributors.each do | surface | %>
          <li>Surface - <%= surface.char_id %> - <%= surface.vents.count %> - <%= surface.volume_flow %><%=units%></li>
        <% end %>
      </ul>
    </details>
  </div>
</div>
