<%= render(StatusComponent.new(validation_run: validation_run, status_model: SupplyExhaustStatus.new(validation_run))) do |c| %>
  <% c.with_title do %>
    Suppy & Exhaust Status
  <% end %>
  <% c.with_info do %>
    <p>Total Supply: <%= total_supply %><%= units%></p>
    <p>Total Exhaust: <%= total_demand %><%= units%></p>
    <p>Net Volume Flow: <%= net_volume_flow %><%= units%> </p>
  <% end %>
  <% c.contributing_params do %>
    <% volume_flow_contributors.find_each do | surface | %>
      <li>Surface - <%= surface.char_id %> - <%= surface.vents.size %> - <%= surface.volume_flow %><%=units%></li>
    <% end %>
  <% end %>
<% end %>
