<div class="flex flex-col">
  <div class="pb-4">
    <%= render(ValidationTitleComponent.new(validation_run: @validation_run)) %>
    <%= link_to "Load another model", root_path, class: "link-primary" %>
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-2">
    <%= render(SupplyExhaustStatusComponent.new(validation_run: @validation_run)) %>
    <%= render(SliceFileStatusComponent.new(validation_run: @validation_run)) %>
    <%= render(HeatFluxDeviceOrientationStatusComponent.new(validation_run: @validation_run)) %>
    <%= render(GravityStatusComponent.new(validation_run: @validation_run)) %>
  </div>
  <details>
  <summary>Model Contents</summary>
    <textarea readonly="true" class="w-full"><%= @validation_run.fds_model.download %></textarea>
  </details>
</div>
